
.blog-footer {
    padding: 2.5rem 0;
    color: #fff;
    text-align: center;
    background-color: #57606f;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer  a{
    color: #1e90ff;
}
.nav-item > a{
    cursor: pointer;
}
.nav-item > a:hover{
    color:#000 !important;          
}
header{
    background-color: #f9fbe7 ;
}
#header{ 
    background-image: url("../images/fondo3.jpg"); 
    background-size: cover; 
    background-position: center center;
    height: 350px; 
    margin-top: 75px ;
} 
section {
    padding: 40px 20px;
    height: auto;
    min-height: 400px;
}